version: '3.8'

services:
  db:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass123
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend_net
    healthcheck:
      test: ["CMD", "mariadb-admin", "--protocol=tcp", "ping"]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 10s
    # Pas de ports → BONUS : inaccessible depuis l'hôte

  app:
    build: ./app
    restart: unless-stopped
    environment:
      DB_HOST: db
      DB_USER: appuser
      DB_PASS: apppass123
      DB_NAME: mydb
    depends_on:
      db:
        condition: service_healthy   # ATTEND QUE LA DB SOIT PRÊTE
    networks:
      - backend_net
    # Pas de ports → BONUS : inaccessible en direct

  proxy:
    build: ./proxy
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - app
    networks:
      - frontend_net
      - backend_net

networks:
  backend_net:
    driver: bridge
  frontend_net:
    driver: bridge

volumes:
  db_data: